In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')
df.head()

                    Title          Writer Name  Year  IsChecked
0        The Great Gatsby  F. Scott Fitzgerald  1925       True
1   To Kill a Mockingbird           Harper Lee  1960      False
2                    1984        George Orwell  1949       True
3     Pride and Prejudice          Jane Austen  1813      False
4  The Catcher in the Rye        J.D. Salinger  1951       True

In [6]:
df['IsChecked'].value_counts()

IsChecked
True     10
False    10
Name: count, dtype: int64